body {
  font-family: "Trebuchet MS", sans-serif;
  background-color: rgb(197, 171, 171);
}

button {
  background-color: rgb(243, 243, 243);
  color: rgb(65, 13, 29);
  border-radius: 30px;
  padding: 15px;
  margin: 15px;
  border-style: none;
  width: 100px;
  height: 60px;
  font-size: 18px;
}

button:hover {
  background-color: rgb(160, 105, 116);
  color: white;
  font-size: 22px;
}